<div id="comment-{{comment.pk}}">
    <div class="d-flex align-items-start">
        <div class="flex-shrink-0">
            <img class="rounded-circle comment-fixed-size" src="{{ comment.author.profile_img.url }}" alt="..." />
        </div>
        <div class="ms-3" style="width: 100%;">
            <div class="fw-bold">{{ comment.author.nickname }} {{comment.pk}}</div>
            <p id="comment-content-{{ comment.id }}">{{ comment.content }}</p>
            <span id="comment-date-{{ comment.id }}">{{ comment.updated_at|date:"Y-m-d H:i:s" }}</span>

            <!-- Comment Edit Form -->
            <form style="display: none;" id="comment-update-form-{{ comment.id }}" action="{% url 'api_post:api_comment_detail' comment.pk %}" class="comment-update-form">
                <textarea name="content" class="form-control me-2 mt-2" rows="3">{{ comment.content }}</textarea>
                <div class="d-flex flex-column mt-2">
                    <div class="ms-auto">
                        <button data-id="{{ comment.pk }}" class="btn btn-outline-secondary btn-sm comment-cancel-btn" type="button">Cancel</button>
                        <button type="submit" class="btn btn-outline-primary btn-sm me-1">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 본인 작성 글인 경우에만, 수정/삭제 가능 -->
    {% if comment.author == request.user %}
        <div class="d-flex justify-content-end mt-2">
            <div id="detail-btns-{{ comment.id }}">
                <button data-id="{{ comment.pk }}" class="btn btn-outline-primary btn-sm comment-update-btn">Update</button>
                <button data-url="{% url 'api_post:api_comment_detail' comment.pk %}" class="btn btn-outline-danger btn-sm comment-delete-btn">Delete</button>
            </div>
        </div>
    {% endif %}
    <hr>
</div>