{% extends 'base.html' %}

{% load static %}

{% block resource %}
    <link rel="stylesheet" href="{% static 'post/css/styles.css' %}">
{% endblock resource %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="page-heading">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">🐶 {% if is_update %}Edit Post{% else %}New Post{% endif %}</h1>
                </div>
                <hr>

                <!-- Post Form -->
                <form action="{% if is_update %}{% url 'post:post_update' post.pk %}{% else %}{% url 'post:post_create' %}{% endif %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        {{ form.content }}
                    </div>
                    <div class="mb-3">
                        <label for="post_img" class="form-label">Image</label>
                        {{ form.post_img }}
                    </div>
                    <div class="mb-4 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn btn-primary me-2">Save</button>
                        <button type="button" class="btn btn-light" onclick="window.history.back()">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

