{% extends 'base.html' %}

{% load static %}

{% block resource %}
    <link rel="stylesheet" href="{% static 'post/css/styles.css' %}">
    <script>
        $(document).ready(function(){
            /*
             * [좋아요]
             * - 좋아요 여부에 따른 icon 설정
             * - 좋아요 카운트 설정
             */
            $('#like-btn').on('click', function(e){
                e.preventDefault();
                
                const button = $(this);
                const url = button.data('url');
                const icon = button.find('i')
                
                $.ajax({
                    url: url,
                    method: 'POST',
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    success: function (data) {
                        if (data.liked) {
                            icon.removeClass('bi-heart').addClass('bi-heart-fill');
                        } else {
                            icon.removeClass('bi-heart-fill').addClass('bi-heart');
                        }

                        $('#like-count').text(data.likes_count);
                    },
                    error: function (e) {
                        alert('An error occurred. Please try again.');
                    }
                });
            })

            // 댓글 작성
            $('#comment-post-form').on('submit', function(e){
                e.preventDefault();

                const form = e.target;
                const url = form.action;
                const formData = Object.fromEntries(new FormData(form));

                $.ajax({
                    url: url,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    success: function (data) {
                        // 서버에서 렌더링된 댓글 HTML 추가
                        const commentSection = document.getElementById('comment-section');
                        commentSection.insertAdjacentHTML('beforeend', response.comment_html);
                    },
                    error: function (e) {
                        alert('An error occurred. Please try again.');
                    }
                });
            })

            // 댓글 삭제
            $('.comment-delete-btn').on('click', function(e){
                e.preventDefault();
                
                const button = $(this);
                const url = button.data('url');

                $.ajax({
                    url: url,
                    method: 'DELETE',
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    success: function (data) {
                        $('#comment-' + data.comment_pk).remove()
                    },
                    error: function (e) {
                        alert('An error occurred. Please try again.');
                    }
                });
            })
        })
    </script>
{% endblock resource %}

{% block content %}
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                        
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Last Update, {{ post.updated_at }}</div>
                        
                        <!-- 
                            Post categories
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        -->
                    </header>
                    <!-- Post image -->
                    <figure class="mb-4" style="text-align: center">
                        <img src="{{ post.get_image_url }}" class="fixed-size" alt="Post Image">
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ post.content }}</p>                        
                    </section>
                </article>
                <div class="mb-4 d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary me-1" onclick="location.href='{% url 'post:post_list' %}'">List</button>
                        {% if post.author == request.user %}
                            <button type="button" class="btn btn-primary me-1" onclick="location.href='{% url 'post:post_update' post.pk %}'">Update</button>
                            <form action="{% url 'post:post_delete' post.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger me-1">Delete</button>
                            </form>
                        {% endif %}
                    </div>

                    <!-- Likes -->
                    <div id="like-container" class="d-flex align-items-center">
                        <button id="like-btn" data-url="{% url 'api_post:post_like' post.pk %}" class="btn btn-outline-danger d-flex align-items-center me-2">
                            {% if liked %}
                                <i class="bi bi-heart-fill me-2"></i> Like
                            {% else %}
                                <i class="bi bi-heart me-2"></i> Like
                            {% endif %}
                        </button>
                        <span id="like-count">{{ post.get_likes_count }}</span>
                    </div>
                </div>

                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form -->
                            <form id="comment-post-form" action="{% url 'api_post:comment_list' post.pk %}" class="mb-4 d-flex">
                                <textarea name="content" class="form-control me-2" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                                <button type="submit" class="btn btn-outline-secondary">Post</button>
                            </form>
                            
                            <!-- Single comment -->
                            <div id="comment-section">
                                {% for comment in post.get_comments %}
                                    {% include "post/comments.html" %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}