{% extends 'base.html' %}

{% load static %}

{% block resource %}
    <link rel="stylesheet" href="{% static 'user/css/login.css' %}">
{% endblock resource %}

{% block content %}
    <div class="login-container">
        <h1 style="padding-bottom: 5px;">LOGIN</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label" style="text-align: left; display: block; padding-bottom: 5px;">username</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" style="text-align: left; display: block; padding-bottom: 5px;">password</label>
                {{ form.password }}
            </div>
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'user:signup' %}">Sign Up</a>
    </div>
{% endblock content %}
