{% extends 'base.html' %}

{% load static %}

{% block resource %}
    <link rel="stylesheet" href="{% static 'user/css/login.css' %}">
{% endblock resource %}

{% block content %}
    <div class="login-container">
        <h1 style="padding-bottom: 5px;">User</h1>

        <!-- Sign Up Form -->
        <form action="{% url 'user:signup' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label" style="text-align: left; display: block; padding: 10px 0;">username</label>
                {{ form.username }}

                <!-- Error Message -->
                {% if form.username.errors %}   
                    <div class="field-errors">
                        {% for error in form.username.errors %}
                            <small class="error-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label" style="text-align: left; display: block; padding: 10px 0;">password1</label>
                {{ form.password1 }}

                <!-- Error Message -->
                {% if form.password1.errors %}  
                    <div class="field-errors">
                        {% for error in form.password1.errors %}
                            <small class="error-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label" style="text-align: left; display: block; padding: 10px 0;">password2</label>
                {{ form.password2 }}
                
                <!-- Error Message -->
                {% if form.password2.errors %}  
                    <div class="field-errors">
                        {% for error in form.password2.errors %}
                            <small class="error-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="nickname" class="form-label" style="text-align: left; display: block; padding: 10px 0;">nickname</label>
                {{ form.nickname }}
            </div>
            <div class="mb-3">
                <label for="post_img" class="form-label" style="text-align: left; display: block; padding: 10px 0;">Image</label>
                {{ form.profile_img }}
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label" style="text-align: left; display: block; padding: 10px 0;">bio</label>
                {{ form.bio }}
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <a href="{% url 'user:login' %}">Back</a>
    </div>
{% endblock content %}
